/*téléchargement de la police*/
@font-face {
  font-family: "Raleway";
  src: url("/Police/Raleway-Italic-VariableFont_wght.ttf"),
    url("/Police/Raleway-VariableFont_wght.ttf"),
    url("/Police/static/Raleway-Black.ttf"),
    url("/Police/Raleway-BlackItalic.ttf"), url("/Police/Raleway-Bold.ttf"),
    url("/Police/Raleway-BoldItalic.ttf"), url("/Police/Raleway-ExtraBold.ttf"),
    url("/Police/Raleway-ExtraBoldItalic.ttf"),
    url("/Police/Raleway-ExtraLight.ttf"),
    url("/Police/Raleway-ExtraLightItalic.ttf"),
    url("/Police/Raleway-Italic.ttf"), url("/Police/Raleway-Light.ttf"),
    url("/Police/Raleway-LightItalic.ttf"), url("/Police/Raleway-Medium.ttf"),
    url("/Police/Raleway-MediumItalic.ttf"), url("/Police/Raleway-Regular.ttf"),
    url("/Police/Raleway-SemiBold.ttf"),
    url("/Police/Raleway-SemiBoldItalic.ttf"), url("/Police/Raleway-Thin.ttf"),
    url("/Police/Raleway-ThinItalic.ttf");
}


a {
  text-decoration: none;
}
body {
  font-family: "Raleway","Raleway-Regular","Sans-Serif", "Arial", "Verdana", "Serif";
  width: fit-content;
  max-width: 1400px;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway";
  font-weight: bold;
}

p {
  font-family: "Raleway";
}


#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*#logo {
  width: 100px;
  height: 100px;
}*/

.conteneur_entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  margin-right: 3%;
}
.logo {
  cursor: pointer;
}


header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  color: #0065fc;
}
 header ul li {
    margin-left: 0;
    padding: 10px 46px 5px 11px;
  }

/*  header ul li {
    border-top: 2px solid;
  padding-top: 10px;

  }*/
/*header ul li a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 10px;
  color: #0065fc;
}*/

header ul li {
  margin-left: 28px;
}

a {
  text-decoration: none;
  color: black;
}

.inscrire a {
  color: #0065fc;
  margin-right: 0%;
}

.inscrire a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 21px;
}

.inscrire {
  padding-left: 28px;
}
.rechercher_loupe {
  display: none;
}

.icon-filter {
  padding-top: 11px;
  color: #0065fc;
  
}
.nbrlogements {
  display: flex;
  margin-top: 15px;
  margin-left:20px;
}

.fa-info-circle {
  color: blue;
  background-color: white;

  padding-left: 17px;
 
}
.nbrlogements p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.75em;
  color: #696969;
}
.nbrlogements i {
  padding-top: 10px;
}

#menu_p {
  display: flex;

  align-items: center;
}
/* Navigation */
nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 15px;
  
}



#inscription {
  color: #609ffd;
  font-size: 1em;
  font-weight: bold;
}

input {
  border: none;
  width: 220px;
  height: 40px;
  padding-left: 10px;
  font-weight: bold;
}


button {
  border-radius: 0 10px 10px 0;
  height: 50px;
  width: 110px;
  margin-left: -5px;
  background-color: #0065fc;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
   font-family: "Raleway", "Sans serif";
}
.fa-map-marker-alt{
 

  height:100px;


 position : relative;
 left:3.5px;
 

 padding-top: 10px;
 justify-content: center;
border-radius: 10px  0  0 10px;


   
 
}
.searchResultWrapiconIcon {
  color: #0065FC;
}
/*#pseudo {
  border: solid;
  height:36px;
  border-width: thin;
}*/
.Filtres {
  display: flex;
  margin-top: 1px;
  margin-left:15px;
  flex-wrap: wrap;
  
}
.Titre_filtres {
  margin: 0 2rem 1rem 0;
  display: flex;
  align-items: center;
}
.rechercher_filtre {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: bold;
}
.rechercher_filtre :hover{
color: #0097fc;

}
.rechercher_filtre:last-child {
  margin-right: 0;
}
/*.FiltersFilter:hover {
  background-color: #f3f8ff;
  transform: scale(1.015);
}*/
.rechercher_filtreicon {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
.rechercher_filtredoubleicon {
  color: blue;
  padding-left: 0.01rem;
  padding-top: 0.01rem;
}
.rechercher_filtretitre {
  margin: 0 1rem;
}
#pseudo{
border-right: none;
  border-left: none;
  height:50px;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";}
/* Section hébergement marseille*/
.contenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px;
}
form{margin-left:20px;
margin-bottom:0px;}
.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 56px;
}

#bloc-page {
  padding-left: 20px;
  padding-right: 20px;
}
.carte123 {
  display: flex;
  flex-direction: row;
}
.carte456 {
  display: flex;
  flex-direction: row;
}
.boxheber {
  display: flex;
  flex-direction: column;
}
.price {
  font-weight: bold;
}

#box-hebergements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-left:15px;
}
#Activites-marseille {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 30px;
  max-width: 1350px;
  margin-left: 10px;
}
.carteactiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.carteactiv1,
.carteactiv2,
.carteactiv3,
.carteactiv4,
.carteactiv5,
.carteactiv6 {
  
  box-shadow: 0 0 20px #0000002e;
 
  border-radius: 1rem 1rem 0 0;  
}

.photoactiv1,
.photoactiv2,
.photoactiv3,
.photoactiv4,
.photoactiv5,
.photoactiv6 {
  border-radius: 1rem 1rem 0 0;
  position: absolute;
 
  object-fit: cover;

}
.carteactiv1,.carteactiv2,.carteactiv3,.carteactiv4,.carteactiv5,.carteactiv6{
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
	margin-left: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1.25rem;
}
.carteactiv1,.carteactiv4{
  height: 26rem;
  width: 19rem;
  object-fit: cover;}
.photoactiv1,.photoactiv4{
  height: 24rem;
  width: 19rem;
  object-fit: cover;}
  
.carteactiv3{
	height: 11rem;
  width: 19rem;
  }

.carteactiv5,.carteactiv6{
height: 11rem;
  width: 19rem;
 
}
.carteactiv6{
margin-top:60px;
 
}

.carteactiv2{  height: 11rem;
  width: 19rem;}
  
.photoactiv5, .photoactiv6{
  height: 9rem;
  width: 19rem;
  object-fit: cover;

  border: 1px solid white;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
}
.photoactiv2, .photoactiv3{
  height: 9rem;
  width: 19rem;
  object-fit: cover;

  border: 1px solid white;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
}
.carteactiv3{
  margin-top: 63px;}
.contenuactiv .titre {
    font-size: 0.8em;
	padding-top: 8.2rem;
	padding-left: 1rem;
  }
  .carteactiv1 .titre, .carteactiv4 .titre  {
    font-size: 0.8em;
	padding-top: 29em;
	padding-left: 1rem;
  }



h2 {
  font-size: 1em;
  margin-left: 25px;
}
h1 p {
  font-size: 0.9em;
}

h1 {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway";
  font-weight: bold;
}

p {
  font-family: "Raleway";
}
.carte p {
  margin: 5px 10px;
  font-weight: 100;
}

.carte h3 {
  margin: 3px 10px;
}

.note {
  margin: 3px 10px;
}

#titrep p {
  font-size: 0.8em;
  color: #696969;
}

#titrep {
  margin-top: 30px;
  margin-left: 15px;
}.image1 h3 {
  margin: 2px;
}

.image1 p {
  margin: 0px;
  font-weight: 100;
}

.image1 .note {
  margin: 3px;
  padding-bottom:0px;
}
.carte {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  margin-bottom: 35px;
  margin-left: 15px;
  padding: 0.375rem;
  box-sizing: border-box;
  height: 14rem;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1.25rem;
  width:16rem;
  background-color:white;
  
}

.photo {

  border-radius: 1rem 1rem 0 0;
    height: 8rem;
    object-fit: cover;
     width: 15rem;
    padding-left:0.1rem;
	padding-right:0rem;
	padding-top:0.2rem;
}
.titre {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  font-size: 0.6em;
 

}
.prix {
  font-weight: lighter;
  color: #000000;
  text-decoration: none;
  font-size: 0.6em;

    padding-top: -200px;
}


.boxpopulaire {
  background-color: rgb(246, 245, 243);
  display: flex;
  flex-direction: column;
margin-left: 25px;
  justify-content: space-between;
 
}
.boxtitrepopulaire {
  background-color: rgb(246, 245, 243);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.image1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 15px;
 
  box-sizing: border-box;
  width: 20rem;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1.25rem;
  height: 8.75rem;
  background-color:white;
}
.image1 .note,.image1 .titre,.image1 .prix{ padding-right: 20px;}


.photo1 {
 
  border-radius: 1rem 0 0 1rem;
  position: relative;
  height: 90%;
  width: 9.35rem;
  object-fit: cover;
  padding-top:0.5rem;
  padding-left:5px;
 
}
.img3 {
width: 9.35rem;
 
}

.fa-chart-line {
  padding-top: 13px;
  padding-right: 13px;
  color: #000000;
  
}
#hebergement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(246, 245, 243);
  margin-left: -20px;
}

.afficher_plus p {
  padding-top: 25px;
  font-weight: bold;
  font-size: 0.75em;
  margin-left: 25px;
}
#Activites-marseille-respo {
  display: none;
}

/*Footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
 margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 200px;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(246, 245, 243);

}

.titre_apropos {
  color: #000000;
}

.a_propos {
  display: flex;
  flex-direction: column;
  line-height: 0px;
  font-size: 12px;
  color: #000000;
}

.titre_noshebergements {
  color: #000000;
}

.nos_hebergements {
  display: flex;
  flex-direction: column;

  line-height: 0px;
  font-size: 12px;
}

.titre_assistance {
color: #000000;
}
.fa-star {
  color: #003bfc;
}
.star-gris{
	color:#0000002e;
	
}
.assistance {
  display: flex;
  flex-direction: column;
 line-height: 0px;
  font-size: 12px;
  color: #000000;
}
.box-footer {
  color: #000000;
  text-decoration: none;
}
.titre_apropos,
.titre_noshebergements,
.titre_assistance {
  padding-bottom: 20px;
}
footer h4 {
  font-weight: normal;
}

footer h2 {
  font-size: large;
}

.recherche_icon{
  background-color: #F2F2F2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;}
.prix{
	padding-bottom:0;
}
@media (min-width: 300px) and (max-width: 767px) /* SMARTPHONES */ {
	 h2 {
    /*font-family: 'Raleway-Semibold';*/
    font-size: 20px;
    font-weight: bold;
  }

  H3 {
    font-size: 16px;
  }

  /* HEADER */

  header {
    margin: 0;
    width: 100%;
    padding-left: 5px;
  }

  .conteneur_entete {
    display: grid;
    padding-top: 5px;
  }

  .menu {
    margin-right: 20px;
  }

  .inscrire {
    position: ABSOLUTE;
    top: 29px;
    right: 30px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2px;
  }

  nav ul {
    border-bottom: 2px solid #f2f2f2;
  }

  header ul li {
    margin-left: 0;
    padding: 10px 46px 5px 11px;
  }

  header ul li a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-bottom: 5px;
  }
  .rechercher_loupe{
	  display: inline;
	  width:	5%;
  }
   .loupe{
    display: inline;
    color: white;
    background-color: #0065fc;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    /*right: 52px;*/
	width: 0.02px;
  }

  #submit {
    display: none;
  }
 /* FILTRES */

  .Filtres {
    display: grid;
  }

  .Titre_filtres {
    margin-bottom: 10px;
  }

  .rechercher_filtre {
    width: 14%;
    margin-bottom: 10px;
  }

  .fam {
    position: absolute;
    margin: 30px 0 0 55%;
    width: 35%;
  }
.anim {
    
    width: 20%;
  }
  footer{display: flex;
  flex-direction: column;}
  #box-hebergements{display:flex;
  flex-direction: column-reverse;}
  /******paramètres activités***/
  /* PARAMETRES ACTIVITES */

  .box {
    display: grid;
    height: auto;
    margin-bottom: 25px;
    justify-content: normal;
    -moz-margin-start: -60px;
  }

  .carteactiv1,
  .carteactiv2,
  .carteactiv3,
  .carteactiv4,
  .carteactiv5,
  .carteactiv6 {
    width: 		30%;
	height:200px;
	margin-bottom:60px;
  }
.carteactiv1 .titre,
  .carteactiv2 .titre,
  .carteactiv3 .titre,
  .carteactiv4 .titre,
  .carteactiv5 .titre,
  .carteactiv6 .titre{
    
	padding-top:150px;
  }
  .photoactiv1,
  .photoactiv2,
  .photoactiv3,
  .photoactiv4,
  .photoactiv5,
  .photoactiv6 {
	
    width: 84%;
    height: 100px;
	
  }
  .photo {
    width: 57rem;
    height: 330px;
  }
 
  .afficher_plus {
    font-size: 40px;
  }
  .Activite {
    margin-bottom: 30%;
    height: 70px;
    -moz-margin-start: 62px;
  }

  .nomactivite {
    padding: 8px 0px 5px 20px;
    border-radius: 0 0 1.25rem 1.25rem;
    border-color: transparent;
    box-shadow: 0 5px 16px #0000002e;
    margin-top: -12px;
  }
  aside .titre,
  aside .prix,
  aside .note {
    margin-left: 20px;
  }
  .prix,
  .note {
    font-size: 30px;
  }
}